@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadenas (Tenants)</h2>
<a class="btn btn-success" href="/Tenant/Create"><i class="fa fa-plus"></i> Nueva Cadena</a>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" style="margin-top:15px;">
        @TempData["Success"]
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" style="margin-top:15px;">
        @ViewBag.Error
    </div>
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Esquema Color</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Name</td>
                <td>
                    <span style="background:@t.EsquemaColor;padding:2px 14px;border-radius:6px;color:#fff">
                        @t.EsquemaColor
                    </span>
                </td>
                <td>@(t.Activo ? "Sí" : "No")</td>
                <td>
                    <a href="/Tenant/Edit/@t.Id" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Editar</a>
                    <a href="/Tenant/Delete/@t.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
