@model IEnumerable<ServiPuntosUyAdmin.Models.Station>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tenants = ViewBag.Tenants as List<ServiPuntosUyAdmin.Models.Tenant>;
}

<h2>Estaciones</h2>
<a class="btn btn-success" href="/Station/Create"><i class="fa fa-plus"></i> Nueva Estación</a>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dirección</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Teléfono</th>
            <th>Horario Apertura</th>
            <th>Horario Cierre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            var tenantName = tenants?.FirstOrDefault(t => t.Id == s.TenantId)?.Name ?? "-";
            <tr>
                <td>@s.Id</td>
                <td>@s.Address</td>
                <td>@s.Latitud</td>
                <td>@s.Longitud</td>
                <td>@s.Phone</td>
                <td>@s.OpenTime</td>
                <td>@s.ClosingTime</td>
                <td>
                    <a href="/Station/Edit/@s.Id" class="btn-link"><i class="fa fa-edit"></i> Editar</a>
                    <a href="/Station/Delete/@s.Id" class="btn-link"><i class="fa fa-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
